node_modules/
.idea/
.DS_Store
dist/
build/
*.log
.env
**/.env
"Admin-Super-Admin/backend/src/main/resources/application.properties" 
.env
.env.*
*.pem
*.key
node_modules/
env_inventory.txt
dist/
mobilize_api/dist/
target/
Admin-Super-Admin/backend/src/main/resources/static/sts-4.24.0.RELEASE/
Admin-Super-Admin/src/main/resources/static/sts-4.24.0.RELEASE/
Admin-Super-Admin/backend/uploads/
Admin-Super-Admin/src/main/resources/static/sts-4.24.0.RELEASE/
