AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=ap-south-1
AWS_S3_BUCKET=keliri
AWS_BUCKET_ENDPOINT=https://keliri.s3.ap-south-1.amazonaws.com
AWS_S3_FOLDER=media
AWS_S3_THUMBNAIL_FOLDER=thumbnails

# Optional: Set to http://localhost:4566 if using LocalStack locally
# AWS_ENDPOINT=http://localhost:4566
