EMAIL_FROM=
EMAIL_FROM_NAME=Mobillize
EMAIL_MAIL_PREFIX=Mobillize | 

SUB_USER_INVITE=Invitation for collaboration.

ETMP_INVITE=INVITE_USER

PUB_ETMP_INVITE=PUB_TEMP_PW

SUB_PW_RESET=Reset Password.
PW_RESET=PW_RESET_SUCCESS

SUB_TEMP_PASSWORD=Temporary Password
TEMP_PW_RESET=TEMP_PW

SUB_WELCOME_TO_MOBILIZE=Welcome to Mobillize.
