COLLETION_MASTER_MODULES=master_modules
COLLETION_MASTER_ACCESS=master_access
COLLETION_MASTER_PRODUCT_CATEGORIES=master_product_categories
COLLETION_MASTER_AD_TYPES=master_ad_types
COLLETION_MASTER_AD_CTAS=master_ad_ctas
COLLECTION_MEDIAS=medias
COLLECTION_ADDRESSES=addresses
COLLECTION_WALLETS=wallets
COLLECTION_COMPANIES=companies
COLLECTION_USERS=users
COLLECTION_USER_PROFILES=user_profiles
COLLECTION_ROLES=roles
COLLECTION_ADVERTISEMENTS=advertisements
COLLECTION_TXN_WALLET_TRANSACTIONS=txn_wallet_transactions
COLLECTION_MAPPING_USER_FOLLOWINGS=mapping_user_folowings
COLLECTION_MAPPING_USER_SAVED=mapping_user_saved
MASTER_EMAIL_TEMPLATE=master_email_template
COLLECTION_AD_CAMPAIGNS=ad_campaigns
COLLECTION_TXN_USER_PUBLISHING=txn_user_publishings
COLLECTION_TXN_NOTIFICATION_SUBSCRIPTION=txn_notification_subscription
COLLECTION_TXN_PUBLISHING_VIEW_COUNT=txn_publishing_view_count
COLLECTION_BANNERS=banners
COLLETION_USER_LOCATIONS=txn_user_locations
COLLETION_USER_LOCATIONS_ARCHIVE=txn_user_locations_archives
