MSG_MODULES_IMPORT = Modules imported
MSG_MASTER_IMPORT = Master data imported
MSG_AD_TYPES_IMPORT = AdTypes imported
MSG_SOMETHING_WRONG = Somethig went Wrong!
MSG_IMPORT_FAILED = Master data import faied
MSG_ROLES_IMPORT = Roles imported
MSG_USER_IMPORT = User imported
MSG_EMAIL_IMPORT = Email imported
MSG_USER_EXIST = User already exist.
MSG_NOT_FOUND = 404. Not found!
MSG_UPDATED = Updated successfully.
MSG_CREATE = Created successfully
MSG_DELETE = Deleted successfully
MSG_OK = ok
MSG_ALREADY_EXIST = Already exists
MSG_FOUND = Data found
