PORT=3001
MONGO_DB_URL=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB=
JWT_SECRET=
USER_HASH=

ENC_ALGORITHM=aes-256-ctr
ENC_KEY=
IV_LENGTH=16
OTP_LENGTH=6
OTP_SECRET=

ADMIN_APP_BASE=http://localhost:8080/

BULL_QUEUE_HOST=localhost
BULL_QUEUE_PORT=6379

RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_NQ=notification_queue
